@model IEnumerable<TiendaMvc.Models.Producto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioCoste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fabricante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioCoste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nombre)
            </td>

        </tr>
    }

</table>